html, body
{
	padding: 0;
	margin: 0;
}
.header{
	background: #004e52;
	color: #fff;
}
a{outline:none}
.header .navbar-header a{
	background: center center no-repeat transparent;
	background-image: url( data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADhJREFUeNpi/P//PwOtARMDHQBdLGFBYtMq3BiHT3DRPU4YR4NrNAmPJuHRJDyahEeT8Ii3BCDAAF0WBj5Er5idAAAAAElFTkSuQmCC );
	display: block;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0;
	left:2px;
}
.navbar-default{border-color: rgba(0,0,0,0.2); height: 40px;}
.navbar-default .navbar-header{font-size: 14px; text-transform: uppercase; font-weight: bold; padding:11px 20px 8px 15px}
.navbar-nav li a{font-size: 14px; font-weight: normal;}
.navbar-default .navbar-nav li a{color:#fff; padding:10px 20px 11px 15px}
.navbar-default .navbar-nav > li > a.active{ color:#fff; padding:10px; background-color: rgba(0,0,0,0.2); } 

.navbar {
  min-height: 41px;
}
.sep{ border-bottom:1px dotted #666; padding-bottom:20px}
.form-control{height:31px}
.form-control,
.btn{ border-radius:0; font-size: 12px; margin:0;}
.form-control:focus{
  border-color: #004e52;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.text-small{font-size: 11px;}
.container { max-width:768px;}

.btn-warning{ background-color: #004e52; border:1px solid #004e52}
@media (max-width:760px) {
  .header .navbar-header{margin-left:30px; }
}
#fb-root {
  display: none;
}

.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style],  iframe{
  width: 100% !important;
}
.content{margin-top:60px}
.form-signin-heading{font-size:1.5em; text-align: center; text-transform: uppercase; padding-top:10px}


.msg-form{border:1px solid #ddd; width:500px; margin:0 auto; margin-top:30px}
.msg-forum-control .btn,
.msg-forum-control .form-control{border-radius: 0 !important}
.msg-forum-control .form-control{ border-right:0; border-left:0}
.msg-forum-control .btn{margin:10px 0}
.info-msg{ background-color: #ddd; padding:10px; border-top:1px solid #DDD; border-bottom:1px solid #DDD;}
.msg-content .media-body strong{display: block; margin-bottom:5px}
.msg-content img{ width:40px; }
.replay-msg{border:1px solid #ddd; background-color: #fff;  padding:7px; margin:7px 7px 7px 80px}