/**
*
* jQuery Metro Alert
* URL: http://www.codecanyon.net/user/bamdaa
* Version: 1.1
* Author: BamDaa
* Author URL: http://www.codecanyon.net/user/bamdaa
*
*/

/* === Back Shade === */
.bmd-alert-shade{
	display: none;
	left: 0;
	top: 0;
	position: absolute;
	z-index: 119515;
	background: rgba(0,0,0, 0.3);
}

/* === Alert, Confirm, Prompt Back === */
.bmd-alert-alert{ 	
	display: none;
	left: 0;
	top: 0;
	position: fixed;
	background: #fff;
	width: 100%;
	z-index: 304315;
}

/* === Notification Back === */
.bmd-alert-notify{ 	
	display: block;
	position: fixed;
	z-index: 304315;
}

.bmd-alert-message{
	display: none;
	width: 250px;	
	background: #d35400;
	color: #ecf0f1;
	border: 3px solid #e67e22;
	margin-top: 0;
	margin-bottom: 2px;
	clear: both;
}

.bmd-alert-notify.br > .bmd-alert-message,
.bmd-alert-notify.bc > .bmd-alert-message,
.bmd-alert-notify.bl > .bmd-alert-message{
	margin-top: 2px;
	margin-bottom: 0;	
}

.bmd-alert-notify.tc > .bmd-alert-message,
.bmd-alert-notify.bc > .bmd-alert-message,
.bmd-alert-notify.cc > .bmd-alert-message{
	margin-left: auto;
	margin-right: auto;
}

.bmd-alert-notify.br > .bmd-alert-message,
.bmd-alert-notify.tr > .bmd-alert-message{
	float: right;
}

.bmd-alert-notify.bl > .bmd-alert-message,
.bmd-alert-notify.tl > .bmd-alert-message{
	float: left;
}


/* === Wrapper === */
.bmd-alert-wrap{ 	
	width: 800px;
	margin: 0 auto;	
	display: block;
	-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
			box-sizing: border-box;
}

/* === Wrapper for Responsive === */
@media (max-width: 992px){
	.bmd-alert-wrap{ width: 100% }
}	


/* === Title === */
.bmd-alert-title{
	font-family: "Open Sans Condensed";
	font-size: 22px;
	margin: 0;
	text-align: left;
}

/* === Wrapper in Notification Message === */
.bmd-alert-message .bmd-alert-wrap{	
	width: 100%;
}

/* === Title in Notification Message === */
.bmd-alert-message .bmd-alert-title{
	line-height: 1em;
	text-align: left;
}

/* === Message Container === */

.bmd-alert-content{
	font-family: "Open Sans Condensed";
	font-size: 16px;
	text-align: left;
}

.bmd-alert-content iframe,
.bmd-alert-content object,
.bmd-alert-content embed{
	vertical-align: top;
}

/* === Message Container in Notification Message === */
.bmd-alert-message .bmd-alert-content{
	text-align: left;
}


/* === Prompt input Container === */
.bmd-alert-input{
	margin: 10px 0 0;
}

/* === Prompt input === */
.bmd-alert-input input{
	font: 12px Tahoma;
	color: #444;
	width: 100%;
	border: 1px solid #ddd ;
	box-shadow: 0 0 5px 0 #ddd inset; 
	background: #fff;
	padding: 7px;
	width: 100%; 
	display: block;
	-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
			box-sizing: border-box;
}

/* === Buttons container === */
.bmd-alert-foot{
	margin-top: 20px;
	text-align: right;
	display: block;
}


/* === Buttons === */
.bmd-alert-foot button{
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: bold;
	padding: 3px 12px;
	border: 0;
	background: #d35400;
	color: #fff;
	margin: 0 0 0 2px;
}

/* === Custom buttons === */
.bmd-custom-button{}