/**
*
* jQuery Metro Alert Theme Pumpkin
* URL: http://www.codecanyon.net/user/bamdaa
* Version: 1.0
* Author: BamDaa
* Author URL: http://www.codecanyon.net/user/bamdaa
*
*/

/* === Back Shade === */
.bmd-alert-shade.pumpkin
{
	background: rgba(0, 0, 0, 0.5);
}

/* === Alert, Confirm, Prompt Back === */
.bmd-alert-alert.pumpkin
{
	background: #d35400;
	color: #ecf0f1;	
}

/* === Notification Back === */
.bmd-alert-message.pumpkin
{
	background: #e67e22;
	color: #ecf0f1;
	border: 0;
}

.bmd-alert-notify.tr .bmd-alert-message.pumpkin{ border-left: 	4px solid #d35400; }
.bmd-alert-notify.tc .bmd-alert-message.pumpkin{ border-bottom: 4px solid #d35400; }
.bmd-alert-notify.tl .bmd-alert-message.pumpkin{ border-right: 	4px solid #d35400; }
.bmd-alert-notify.br .bmd-alert-message.pumpkin{ border-left: 	4px solid #d35400; }
.bmd-alert-notify.bl .bmd-alert-message.pumpkin{ border-right: 	4px solid #d35400; }
.bmd-alert-notify.bc .bmd-alert-message.pumpkin{ border-top: 	4px solid #d35400; }
.bmd-alert-notify.cc .bmd-alert-message.pumpkin{ border-bottom: 4px solid #d35400; }

/* === Title === */
.bmd-alert-alert.pumpkin .bmd-alert-title
{
	font-family: "Open Sans";
	font-size: 22px;	
	margin: 0;
	margin-top: 10px;
	text-align: center;
}

/* === Title in Notification Message === */
.bmd-alert-message.pumpkin .bmd-alert-title
{
	line-height: 1em;
	text-align: left;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 600;
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-bottom: 1px solid rgba(255,255,255, 0.8);
}

/* === Message Container === */
.bmd-alert-alert.pumpkin .bmd-alert-content,
.bmd-alert-message.pumpkin .bmd-alert-content
{
	font-family: "Open Sans";
	font-size: 14px;
	text-align: center;
}

/* === Message Container in Notification Message === */
.bmd-alert-message.pumpkin .bmd-alert-content
{
	text-align: left;
}

/* === Prompt input Container === */
.bmd-alert-alert.pumpkin .bmd-alert-input
{
	margin: 10px 0 0;
}

/* === Prompt input === */
.bmd-alert-alert.pumpkin .bmd-alert-input input
{
	font: 12px Tahoma;
	color: #444;
	border: 1px solid #ddd ;
	box-shadow: 0 0 5px 0 #ddd inset; 
	background: #fff;
	padding: 7px;	
}

/* === Buttons container === */
.bmd-alert-alert.pumpkin .bmd-alert-foot
{
	margin-top: 20px;
	text-align: center;
}

/* === Buttons === */
.bmd-alert-alert.pumpkin .bmd-alert-foot button
{
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 600;
	padding: 3px 12px;
	border: 0;
	background: #ecf0f1;
	color: #d35400;
	margin: 0 0 0 2px;
	border-radius: 3px
}

/* === Custom buttons === */
.bmd-alert-alert.pumpkin .bmd-custom-button
{

}