/* dropdown */
.ciDropdown { display: none; border: solid 1px #ccc; background-color: white;
	position: absolute; z-index: 9999999; 
}
/* dropdown options */
.ciDropdown>div { background: #fafafa; cursor: pointer;}
/* dropdown selected option */
.ciDropdown>div.selected{ background: #A4D1F5; color: white; cursor: pointer !important;}


/* custom input */
.ciContainer { padding: 5px 12px 7px 12px;}
.ciInput {border-width: 0; background-color: transparent;}

.ciTag { margin-right: 5px;}
.ciTag>b {cursor: pointer;}