#login-box {
    max-width: 350px;
    min-width: 280px;
    margin: 60px auto 20px;
    overflow: hidden;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}
#login-box-inner {
    background: #fff;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    border: 1px solid #e1e1e1;
    border-bottom-width: 5px;
}
#login-box #login-box-header {
    height: 5px;
}
#login-box #login-box-header>div {
    height: 100%;
    width: 16.6667%;
    float: left;
}
#login-box #login-box-header .login-box-header-red {
    background: #e74c3c;
}
#login-box #login-box-header .login-box-header-green {
    background: #2ecc71;
}
#login-box #login-box-header .login-box-header-yellow {
    background: #f1c40f;
}
#login-box #login-box-header .login-box-header-purple {
    background: #9b59b6;
}
#login-box #login-box-header .login-box-header-blue {
    background: #3498db;
}
#login-box #login-box-header .login-box-header-gray {
    background: #95a5a6;
}
#login-box-inner {
    padding: 40px 25px;
}
#login-box-inner.with-heading {
    padding-top: 20px;
}
#login-box-inner h4 {
    margin-top: 0;
    margin-bottom: 10px;
}
#login-box-inner .reset-pass-input {
    padding: 15px 0;
    margin-bottom: 0;
}
#login-logo {
    background: none repeat scroll 0 0 #34495e;
    color: #fff;
    display: block;
    font-size: 2em;
    font-weight: 400;
    padding: 35px 0;
    text-align: center;
    text-transform: uppercase;
}
#login-logo>img {
    display: block;
    height: 40px;
    margin: 0 auto;
}
#login-logo>span {
    display: block;
    font-size: 0.6em;
    font-weight: 300;
    text-transform: none;
}
#login-box .input-group {
    margin-bottom: 10px;
}
#login-box .input-group input {
    font-weight: 300;
}
#login-box .input-group .input-group-addon {
    padding-left: 0;
    padding-right: 0;
    min-width: 50px;
    background-color: #f9f9f9;
}
#login-box .input-group .input-group-addon i {
    color: #dfdfdf;
}
#login-box #login-forget-link {
    display: block;
    font-size: 0.875em;
    text-align: right;
    margin-top: 3px;
}
#login-box #remember-me-wrapper {
    padding: 10px 0;
}
#login-box .btn {
    font-size: 1.125em;
    font-weight: 600;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Open Sans';
    margin-top: 8px;
}
#login-box .form-group {
    margin-bottom: 7px;
}
#login-box-inner .input-group>.form-control, #login-box-inner .input-group>.input-group-addon {
    height: 46px;
    padding-top: 0;
    padding-bottom: 0;
}
#login-box-inner .input-group>.input-group-addon {
    height: 44px;
}
#login-box .form-group .checkbox label {
    padding-left: 7px;
}
#login-box .form-group .checkbox input {
    margin-left: 0;
}
#login-box .btn-facebook, #login-box .btn-twitter {
    text-transform: none;
    font-size: 1em;
    margin-bottom: 10px;
}
#login-box .social-text {
    margin: 0;
    padding: 15px 0;
    text-align: center;
    font-size: 0.875em;
}
#login-box-footer {
    text-align: center;
    font-size: 0.875em;
    margin-top: 10px;
}
#login-box-footer a {
}
#login-box-footer a:hover {
}
#login-full-wrapper #login-box-footer {
    color: #fff;
}
#login-full-wrapper #login-box-footer a {
    color: #fff;
    text-decoration: underline;
}
#login-full-wrapper #login-box-footer a:hover {
    text-decoration: none;
}
@media only screen and (max-width: 767px)  {
    #login-box {
    margin-top: 20px;
}
}
#login-page .login-create, #login-page-full .login-create {
    margin-bottom: 20px;
}
#login-full-wrapper {
    background: url(/images/admin/login-img.jpg) no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
}
#login-full-wrapper #login-box {
    border: none;
}
#login-page-full .container {
    max-width: 1440px;
    margin: 0 auto;
}
@media (max-height: 605px)  {
    #login-full-wrapper {
    position: relative;
}
#login-full-wrapper.reset-password-wrapper {
    position: absolute;
}
}
@media (max-height: 505px)  {
    #login-full-wrapper.reset-password-wrapper {
    position: relative;
}
}
@media (max-height: 621px) and (max-width: 767px)  {
    #login-full-wrapper {
    position: relative;
}
}
#lock-screen-user img  {
    
	-moz-border-radius:  50%;
    
	-webkit-border-radius:  50%;
    
	border-radius:  50%;
    
    display:  block;
    
    height:  100px;
    
    margin:  0 auto;
    
    width:  100px;
    
}
#lock-screen-user .user-box .name  {
    
	display:  block;
    
    font-size:  1.3em;
    
    padding:  10px 0 40px;
    
    text-align:  center;
    
}