html, body{ -webkit-font-smoothing:antialiased; }
body{ background-color: #e7ebee; }
a, a:focus{ outline: 0;}
.navbar-default{
	background-color: #fff;
}

.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > li.active > a:hover{
	color: #fff;
	background-color: #3498db;
}

.navbar.navbar-fixed-top{
	border-bottom: 0;
	box-shadow:  0 0 5px rgba(0,0,0,0.05);
}
.navbar .navbar-brand,
.navbar .navbar-brand:hover{
	width: 220px;
	background-color: #34495e;
	color: #fff;
}

 /* PAGE HEADER .begin */

.container-fluid > .navbar-page.navbar-static-top{
	margin-left: -15px;
	margin-right: -15px;
}

.navbar-page{
	background-color: #3498db;
	min-height: 38px !important;
	height: 38px;
	border-left: 3px solid #2980b9;
	top: 0;
}
.navbar-page .navbar-text{
	margin: 7px 0 0;
	font-family: 'Open Sans';
	font-size: 16px;
	font-weight: 300;
	color: #fff;
	margin-left: 0;
	text-transform: uppercase;
}

.navbar-page .navbar-nav > li > a{
	padding-top: 10px !important; padding-bottom: 11px !important;
	color: #fff
}

.navbar-page .navbar-nav > .open > a,
.navbar-page .navbar-nav > .open > a:hover,
.navbar-page .navbar-nav > .open > a:focus,
.navbar-page .navbar-nav > li > a:hover,
.navbar-page .navbar-nav > li > a:focus,
.navbar-page .navbar-nav > li.active > a,
.navbar-page .navbar-nav > li.active > a:hover{
	color: #fff;
	background-color: #2980b9;
}

.navbar-page .navbar-nav > li > button.btn{
	border: 0;
	border-radius: 0;
	height: 38px;
}
.navbar-page .navbar-nav > li > button.btn i{
	margin-right: 4px;
	margin-bottom: 2px;
}

.navbar.navbar-page .navbar-brand,
.navbar.navbar-page .navbar-brand:hover{
	width: auto;
	background-color: #2980b9;
	color: #fff;
	text-transform: uppercase;
	font-family: 'Open Sans';
	padding-top: 10px;
	padding-left: 10px;
	height: 38px;
	font-weight: 300;
}
.navbar.navbar-page .navbar-brand small{
	text-transform: none;
}
.navbar.navbar-page .navbar-brand small:before{
	content: '\f105';
	font-family: FontAwesome;
	color: rgba(255,255,255,0.5);
	margin: 0 5px;
}

.navbar-page.affix{
	left: 235px;
	right: 15px;
	position: fixed;
	max-width: 100%;
	margin-left: 15px;
	top: 50px;
	box-shadow: 0 3px 15px rgba(0,0,0,0.5);
	-webkit-transition: all .5s ease-in;
	transition: all .5s ease-in;
    
}
/* PAGE HEADER .end */



.wrapper{ padding-top: 50px; }

.nav-col{ 
	width: 220px; 
	background-color: #2c3e50;
  	height: 100%;
  	position: fixed;
  	z-index: 100;
}

.content-col{ 
	margin-left: 220px;
}

#sidebar-nav li{ margin: 0; }
#sidebar-nav li a,
#sidebar-nav li.active a{
	padding: 8px 15px 8px 20px;
	border-radius: 0;
	line-height: 28px;
	font-size: 12px;
	color: #fff;
	border-left: 3px solid transparent;	
}

#sidebar-nav li a i{
	font-size: 14px;
	margin-right: 5px;
}

#sidebar-nav li a:hover,
#sidebar-nav li a:focus{
	background-color: rgba(0,0,0,0.2);
	border-left: 3px solid #2ecc71;
}

#sidebar-nav li.active a,
#sidebar-nav li.active a:hover{
	background-color: #1a1d22;
	border-left: 3px solid #3498db;
}

.content-box > h2{ font-weight: 300; padding-left: 10px;}

.main-box .main-box-body {
	padding: 0 20px 20px 20px;
}
.main-box {
	background: #FFFFFF;
	-webkit-box-shadow: 1px 1px 2px 0 #CCCCCC;
	-moz-box-shadow: 1px 1px 2px 0 #CCCCCC;
	-o-box-shadow: 1px 1px 2px 0 #CCCCCC;
	-ms-box-shadow: 1px 1px 2px 0 #CCCCCC;
	box-shadow: 1px 1px 2px 0 #CCCCCC;
	margin-bottom: 16px;
	-webikt-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.main-box h2 {
	font-size: 1.3em;
	line-height: 29px;
	margin: 0;
	padding: 0;
}
.main-box.no-header {
	padding-top: 20px;
}
.main-box.form-box{
	background-color: #f9f9f9;
}
.main-box .main-box-header {
	min-height: 50px;
	padding: 10px 20px;
}
.main-box .main-box-header.with-border {
	border-bottom: 1px solid #ecf0f1;
}
.main-box .main-box-body {
	padding: 0 20px 20px 20px;
}

.grid-img{ margin-right: 15px;}
.grid-link{
	font-family: 'Open Sans';
	font-size: 16px;
	color: #333;
	font-weight: 300;
}
.grid-link:hover{
	color: #2d8bc9;
}
.table thead th{
	font-family: 'Open Sans';
	text-transform: uppercase;
}
.table tbody td,
.table tbody th{ vertical-align: middle !important;}

.table a.table-link {
	margin: 0 5px;
}
.table a.table-link:hover {
	text-decoration: none;
}
.table a.table-link.danger {
	color: #e74c3c;
}
.table a.table-link.danger:hover {
	color: #c0392b;
}

.label{
	border-radius: 3px;
	font-size: 11px;
	font-weight: normal;
}


.pagination{ margin: 0;}

.drop-icon {
	color: #868b98;
	font-size: 12px;
	margin-top: -6px;
	position: absolute;
	right: 20px;
	top: 50%;
	-webkit-transition: -webkit-transform 0.2s ease-in-out 0.1s;
	transition: transform 0.2s ease-in-out 0.1s;
}


#user-left-box {
    padding: 20px 15px;
    background-color: #253544;
}
#user-left-box img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    float: left;
    width: 60px;
}
#user-left-box .user-box {
    color: #fff;
    float: left;
    padding-left: 15px;
    padding-top: 3px;
}
#user-left-box .user-box>.name {
    display: block;
    font-size: 1.2em;
    font-weight: 600;
    line-height: 1.2;
    font-family: 'Open Sans';
}
#user-left-box .user-box>.status {
    display: block;
    font-size: 0.9em;
    padding-top: 3px;
}
#user-left-box .user-box>.status a{
    color: #fff;
}
#user-left-box .user-box>.status a:hover{
    text-decoration: none;
    color: #2ecc71;
}
#user-left-box .user-box>.status i {
    color: #2ecc71;
    margin-right: 4px;
}
#user-left-box .lang{
    display:block;
    float: left;
    width:100%;
    margin-top:10px;
    position: relative;
}
#user-left-box .lang:before{
	content:'\f0dc';
	font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #8EAFD1;
    font-size: 18px;
    padding-right: 0.5em;
    position: absolute;
    top: 4px;
    right:0;
	
}
#user-left-box .lang .form-control{
	background-color: #476482;
	border:1px solid #476482;
	color:#8EAFD1;
	padding:5px 5px 7px 5px;
	-webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    outline:none;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}

#user-left-box .lang .form-control option{
	background-repeat:no-repeat;
	background-position:bottom left;
	padding-left:30px;
	height: 24px !important;
	padding-top:3px;
	border:0 !important;
	outline:0 !important;
	-webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   text-shadow: 0 0 0 #000;
   
}

#user-left-box .lang #change-lang option[value="en"] {
	background:url(/images/en.png) 5px 5px no-repeat;
}
#user-left-box .lang #change-lang option[value="mn"] {
	background:url(/images/mn.png) 5px 5px no-repeat;
}






































/* LOG IN */
.container.container-login{ 
  width: 300px;
  margin-top: 150px;
  background-color: #f4f3f3;
}

.form-horizontal.form-divided .form-group{
	margin-top: 0;
	margin-bottom: 0;
	padding: 7px 0;
	border-top: 1px solid #ddd;

}
.form-horizontal.form-divided.form-striped .form-group:nth-child(odd){
	background-color: #f5f5f9;
}
.form-horizontal.form-divided.form-striped .form-group:last-child{
	background-color: transparent;
}

.form-group label{
	font-weight: normal;
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing:antialiased;
	font-weight: 400;
}
.form-control,
.form-control:focus{ 
	-moz-box-shadow: none;
	box-shadow: none;
}

.table td h4.checkbox{
	padding-left: 10px;
	color: #333;
	margin: 0;

}

.table td h4.checkbox label{
	font-weight: normal;
	text-transform: capitalize;
	line-height: 20px;
}

.btn-multiselect{ 
	margin:0; 
	padding:0; 
	border-radius:0;
	border-bottom: 1px dashed #3498db;
}

.btn-multiselect:hover{
	border-bottom: 1px dashed #1c6a9f;
	text-decoration: none;
}
/* SORTABLE */

.placeholder {
	border: 1px dashed #4183C4;
	border-radius: 3px;
	margin: -1px;
}


/* SORTABLE */
.order-list-container{ display: none; }
.nestedSortable-error{ background: #fbe3e4; border-color: transparent; }
ol.sortable, ol.sortable ol{ margin: 0 0 0 25px; padding: 0; list-style-type: none; }
ol.sortable{ margin: 0; }
.sortable li{ margin: 5px 0 0 0; padding: 0; }
.sortable li div{
	border-left: 2px solid #3498db;	
	border-radius: 3px;	
	padding: 5px 5px 5px 7px;
	cursor: move;
	background: #e7ebee;
}
.sortable li.nestedSortable-branch div{ border-color: #2ecc71; }
.sortable li.nestedSortable-leaf div{ border-color: #3498db; }
li.nestedSortable-collapsed.nestedSortable-hovering div{ border-color: #999; background: #fafafa; }
.disclose{	cursor: pointer; width: 10px; display: none; }
.sortable li.nestedSortable-collapsed > ol{ display: none;}
.sortable li.nestedSortable-branch > div > .disclose{ display: inline-block; width: 15px; }
.sortable li.nestedSortable-collapsed > div > .disclose > span:before{	
	content: '\f196';
	font-family: FontAwesome;
	color: #2ecc71;
}
.sortable li.nestedSortable-expanded > div > .disclose > span:before{
	content: '\f147';
	font-family: FontAwesome;
	color: #2ecc71;
}

a > i.fa{ margin-right: 5px;}


/* REDACTOR CSS OVERRIDE */
/* toolbar background and other styles */
.redactor-toolbar { background: #2C3E50 }
 
/* toolbar buttons */
.redactor-toolbar li a { color: #fff }
 
/* buttons hover state */
.redactor-toolbar li a:hover { background: #2ECC71; color: #fff}
 
/* buttons active state */
.redactor-toolbar li a:active,
.redactor-toolbar li a.redactor-act { background: #000; color: #aaa }

/* table list content */
.main-box-table-list{background-color: #fff;}

/* MENU */
.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:0;margin-left:-1px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#ccc;margin-top:4px; margin-right:-5px;}
.dropdown-submenu:hover>a:after{border-left-color:#333;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;}


.navbar-nav .dropdown-menu, .dropdown-submenu{  border: 0; border-radius: 0; padding: 0;}
.navbar-nav .dropdown-menu li > a,
.navbar-nav .dropdown-menu li > a:hover,
.navbar-nav .dropdown-menu li > a:focus,
.navbar-nav .dropdown-submenu > a,
.navbar-nav .dropdown-submenu > a:focus,
.navbar-nav .dropdown-submenu:hover > a{ padding: 8px 12px;  }





.photo-list{
	 margin: 0;
	 padding: 0;
	 list-style: none;
}
.photo-list li.photo-item{
	 float: left;
	 margin: 5px;
	 position: relative;
}

.photo-list li.photo-item > .action-buttons{
	display: none;
	position: absolute;
	z-index: 300;
	top: 0;
	left: 0;
	text-align: center;
	width: 180px;
	height: 120px;
	background: rgba(0, 0, 0, 0.65);
	line-height: 180px;
}

.photo-list li.photo-item:hover > .action-buttons{
	display: block;
}

.photo-list li.photo-item > .action-buttons  a{
	color: #fff;
}

/* Three csss */
.checktree-root{ border: 1px dotted #2C3E50; background-color: #fff; margin:0;}
ul.checktree-root, ul#tree ul {
    list-style: none;
}
.checktree-root ul li{
    margin-left:-18px;
}
ul.checktree-root label {
    font-weight: normal;
    position: relative;
    cursor: pointer
}
ul.checktree-root label input {
    position: relative;
    top: 2px;
    left: -5px;
}

#tree li {
    list-style-type: none;
    position: relative;
}

#tree li::before {
    content: "";
    position: absolute;
    top:-3px;
    left:-20px;
    border-left: 1px dotted #2c3e50;
    border-bottom:1px dotted #2c3e50;
    border-radius:0 0 0 0px;
    width:15px;
    height:15px;
}

#tree li::after {
    position:absolute;
    content:"";
    top:11px;
    left:-20px;
    border-left: 1px dotted #2c3e50;
    border-top:1px dotted #2c3e50;
    border-radius:0px 0 0 0;
    width:15px;
    height:100%;
}

#tree li:last-child::after  {
    display:none;
}

#tree li:last-child:before{
    border-radius: 0 0 0 0;
}

ul#tree>li:first-child::before {
    display:none;
}

ul#tree>li:first-child::after {
    border-radius:0 0 0 0;
}

.statistic th.bg{border-border: 0; background: #00A65A; color: #fff;}
.statistic td.bg{background: #00A65A; border-left: 1px solid #fff; color: #fff; vertical-align: middle;}
.statistic td.dark{border-border: 0; background: #2C3E50; color: #fff; vertical-align: middle;}
.statistic td.warning{ background: #F0AD4E; color: #fff; vertical-align: middle;}

.modal{z-index: +9999}


.bg-replied{background-color: #2c3e50 !important; color:#fff !important}
.bg-replied a{color: #fff; text-decoration: underline}

.msg-form{border:1px solid #ddd; width:500px; }
.msg-forum-control .btn,
.msg-forum-control .form-control{border-radius: 0 !important}
.msg-forum-control .form-control{ border-right:0; border-left:0}
.msg-forum-control .btn{margin:10px 0}
.info-msg{ background-color: #ddd; padding:10px; border-top:1px solid #DDD; border-bottom:1px solid #DDD;}


.msg-content .media-body strong{display: block; margin-bottom:5px}
.msg-content img{ width:40px; }
.replay-msg{border:1px solid #ddd; background-color: #fff;  padding:7px; margin:7px 7px 7px 80px}